<form class="loginForm" [formGroup]="login" (ngSubmit)="onSubmit(login)">
  <h1 class="title">Sign in</h1>
  <div class="form-group">
    <label for="username"> Username </label><br>
    <input class="form-control" formControlName="username" placeholder="Username/Email" name="username" type="text"/>
  </div>
  <div class="form-group">
    <label for="password"> Password </label><br>
    <input class="form-control" formControlName="password" placeholder="password" name="password" type="password"/>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
