<div class="food-square">
    <a >
        <img class="food-image" src="../../assets/images/sampleFoodImage.jpg">
        <h6 class="food-name">{{food.title}}</h6>
        <p class="food-description">{{food.description}}</p>
        <div style="width: 300px;">
            <mat-checkbox class="example-margin"
                    [checked]="getActive()"
                    (change)="toggleActive($event.checked)">
                Active
            </mat-checkbox>
            <mat-icon class="delete-food" (click)="deleteFood()" >delete_outline</mat-icon>
        </div>
    </a>
</div>